@media (min-width:765px ) {
    section > .container {
        width: 1170px;
        margin: 0 auto;
        padding: 30px 50px;
    } 
    .certificate-item img {
        width: 200px;
      }
      .certificate-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        border-bottom: 1px solid #d6c08d;
      }
}